body, html {
	font-family:sans-serif;
	font-size:18px;
	background-color:#F0ECFA;
	overflow:hidden;
    margin:0;
    height:100%;
    cursor:crosshair;
}
button, form, select, input {
    cursor:crosshair;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.tdleft {
	text-align:right;
	width:50%;
}
.tdright {
	text-align:left;
	width:50%;
}
.td2 {
	text-align:center;
	width:100%;
}
h1 {
	margin-top:0px;
	text-align:center;
}
table.content {
	table-layout:fixed;
	margin:0 auto;
	padding:15px;
	width:350px;
	border:1px solid #8C8CD4;
	background-color:#A9A9FF;
}
#timer {
    position:fixed;
    left:10px;
    top:50px;
    visibility:hidden;
    font-size:24px;
}
#countdown {
	width:800px;
	margin:0 auto;
	padding-top:20px;
	text-align:center;
	font-size:36px;
}
.circle {
    width:0px;
    height:0px;
    visibility:visible;
    border-radius:50%;
    position:fixed;
    background-color:#000;
}
#timer {
    position:fixed;
    left:10px;
    top:10px;
    visibility:hidden;
    font-size:24px;
}
#circlestats {
    position:fixed;
    left:10px;
    top:50px;
    visibility:hidden;
    font-size:24px;
}
#accuracy {
    position:fixed;
    left:10px;
    top:90px;
    visibility:hidden;
    font-size:24px;
}
#averageAccuracy {
    position:fixed;
    left:10px;
    top:130px;
    visibility:hidden;
    font-size:24px;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
